/build
/local.properties
local.properties
*.lock
android/local.properties
.android/local.properties
gradle/libs.versions.toml
.local.properties
/grandle
.grandle
.idea
/idea
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
.idea/
*.properties
.idea/misc.xml
.idea/other.xml

