<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round3"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:targetApi="31">

        <!-- SplashActivity como la actividad de inicio -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FaqActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".Popup_verJackD"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Popup_verTerapia"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".Producto_Terapia"
            android:exported="false" />
        <activity
            android:name=".Popup_verVisitante"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".Producto_El_Visitante"
            android:exported="false" />
        <activity
            android:name=".Popup_verInstituto"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".Producto_El_Instituto"
            android:exported="false" />
        <activity
            android:name=".Popup_verFauno"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Main_forgotten"
            android:exported="false" />
        <activity
            android:name=".Main_login2"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main_login"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Catalogo"
            android:exported="false" />
        <activity
            android:name=".Categoria"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
